body{
    background-color:rgb(225, 191, 253);
    color:white;
}

.expressions{
    font-size:20px;
    font-weight:bold;
    color:white;
    text-align:center;
}

.changehtml{
    font-size:20px;
    font-weight:bold;
    color:white;
    text-align:left;
    margin-top:20px;
}

.imgbutton{
    font-size:20px;
    font-weight:bold;
    color:white;
    text-align:center;
    margin-top:20px;
}

#demo5{
    color: white;
    text-align: center;
}