body{
    background-color:rgb(225, 191, 253);
    color:white;
}

.expressions{
    font-size:20px;
    font-weight:bold;
    color:white;
    text-align:center;
}

.demo1{
    font-size:18px;
    color:yellow;
    text-align:center;
}